.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1210px;
    gap: 90px;

    @media(max-width: 1250px) {
        gap: 16px;
        padding: 0 16px;
    }

    @media(max-width: 1000px) {
        padding: 40px 20px;
        flex-direction: column;
        max-width: 100%;
        margin: auto;
    }
}