.input {
    width: 100%;
    padding: 15px 35px;
    font-size: 14px;
    border: 1px solid var(--grayishBlue);
    border-radius: 5px;
    color: var(--darkBlue);
    font-weight: 700;

    &:focus {
        outline: none;
        border-color: var(--blue);
        caret-color: var(--blue);
    }

    &::placeholder {
        color: var(--grayishBlue);
        font-weight: 400;
    }

    @media(max-width: 530px) {
        padding: 12px 20px;
    }
}